/**
* Analytics Realtime Dashboard Example CSS
**/

body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

table {
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:5px;
    border:#ccc 1px solid;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

table th {
    padding:11px 15px 12px 15px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table th:first-child {
    text-align: left;
    padding-left:20px;
}

table tr {
    text-align: center;
    padding-left:20px;
}

table td:first-child {
    text-align: left;
    padding-left:20px;
    border-left: 0;
}

table td {
    padding:8px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

table tr:last-child td {
    border-bottom:0;
}

table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

#header {
    background-color: #232323;
    height: 46px;
    margin: 0px;
    font-family: sans-serif;
    line-height: 46px;
    color: white;
}

/* Anything that needs to be in the main content */
.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /*Adjust this if you need to make the dashboard wider*/
    max-width: 960px;
}

/*CSS Clear Fix*/
.content:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.counts {
    text-align: right;
}

.data-table {
    width: 100%;
}

.gainers-table {
    width: 100%;
}

.losers-table {
    width: 100%;
}

/* Report Styles */
.widget {
    padding: 10px;
    width: auto;
    overflow: hidden;
    /*set to iphone width -30px for padding - 10 pixels for padding*/
    min-width: 260px;
}

/*should be applied with the Widget class*/
.half {
    float: left;
    width: 47%;
}
/*Makes a widget for roughly the right 3rd of screen.
Widget should be follows by a twothirds widget */

.third {
    width: 260px;
    float: left;
}
.twothirds {
    /*width: auto;*/
}
.chart {
    height: 100%;
    width: 100%;
}
.number {
    display: block;

    /*Adjust these to make the numbers bigger on the number widget*/
    font-size: 80px;
    line-height: 100px;
}
.no-data {
    font-size: 60px;
    color: #777;
}

/*Mobile Changes*/
@media (max-width: 640px) {
    .widget {
        float: none;
        width: auto;
    }
    .half {
        width: auto;
    }
}

/* For realtime graph */
path {
    stroke: #5687d1;
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #e0e0e0;
  shape-rendering: crispEdges;
}

circle {
    stroke: #999;
    stroke-width: 2;
    fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #e0e0e0;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  stroke: #e0e0e0;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #e0e0e0;
}

#trendGraph {
  height: 200px;
}

#donutChart {
  position: relative;
  width: 300px;
}

#donutChart path {
  stroke: #fff;
}

#donutChart {
  float: left;
}

#legend {
  padding: 15px 0 0 3px;
  float: right;
  width: 140px;
}

#legend text {
  /*font-weight: 100;*/
  fill: #fff;
  font-size: 10px;
}

#explanation {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: -80px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

#pagelabel {
  top: 45%;
  left: 50%;
  width: 180px;
  margin-left:-100px;
  position:absolute;
  z-index:-10;
}

#pagelabel text {
  text-align: center;
  font-weight: 600;
  fill: #fff;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.wait {
  width: 2rem;
  height: 2rem;
  background-image: url(../images/wait_32.gif);
  -webkit-animation: wait-large 1.6s step-end infinite;
  animation: wait-large 1.6s step-end infinite;
  display: inline-block;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  -webkit-background-size: auto 100% auto 100%;
  -moz-background-size: auto 100% auto 100%;
  background-size: auto 100% auto 100%;
}

.trendUp {
    background-repeat: no-repeat;
    width: 14px;
    background-image: url(../images/arrow-circle-bottom.svg);
    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);             /* W3C compliant browsers */
    display: inline-block;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    -webkit-background-size: auto 100% auto 100%;
    -moz-background-size: auto 100% auto 100%;
    background-size: auto 100% auto 100%;
}

.trendDown {
    background-repeat: no-repeat;
    width: 14px;
    background-image: url(../images/arrow-circle-bottom.svg);
    display: inline-block;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    -webkit-background-size: auto 100% auto 100%;
    -moz-background-size: auto 100% auto 100%;
    background-size: auto 100% auto 100%;
}

.tableValue {
    width: 75%;
}

.hidden {
    display: none;
}

