/* Configuration Variables
    confg.username: Your Web Services Username. This can be found in the Admin Console
    config.secret: Your Web Services Secret. This can also be found in the Admin Console
    config.reportSuite: The report suite you want to call the data from
    config.endpoint: The endpoint you will be hitting
*/

var config = {
    username:     "labuser:Real Time Dashboard Lab",
    secret:       "75d03af19787f81a6f5016c885bc3541",
    reportSuite:  "omniture.devportal",
    endpoint:     "api.omniture.com"
};